* {
    background-color: #1f1f1f;
    color: #dddddd;
    border-radius: 2px;
}

App {
    display: block;
    height: 100%;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
}

.container {
    margin: 3px;
    padding: 0.25em;
    background-color:#3f3f3f;
    width: 100%;
}

#topcontainer {
    background-color: #1f1f1f;
    margin: 3px;
    padding: 0px;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.fillparent {
    width: 100%;
    height: 100%;
}

.catalogueElement {
    flex: 1 0 24%;
    flex-grow: 0;
    height: 50%;
    margin: 0.5%;

    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

#elemcatalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.catalogueElementImageContainer {
    flex: 2;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


option {
    font-size: 1.5em;
}


